.dynamic-board {
  height: 100vh;

  mat-sidenav {
    width: 250px;
  }

  .profile {
    display: flex;
    align-items: center;
    padding: 16px;

    .profile-image {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-right: 16px;
    }

    span {
      font-weight: bold;
    }
  }

  .search-bar {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }

  .content {
    padding: 16px;
  }
}