<mat-card style="background-color: rgb(37, 35, 35);">
  <mat-card-header>
    <mat-card-title>Iniciar sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <input matInput placeholder="Correo electrónico" type="email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contraseña" type="password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" (click)="sparks()">
        Iniciar sesión
      </button>
      <button (click)="animateParticles()">
        Click me!
      </button>
    </form>
  </mat-card-content>
</mat-card>