<mat-card>
  <mat-card-header>
    <mat-card-title>RECUPERAR CONTRASEÑA</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="requestPasswordResetForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Correo electrónico" type="email" formControlName="email">
        @if (requestPasswordResetForm.get('email')?.touched && requestPasswordResetForm.get('email')?.invalid) {
        <mat-error>
          {{ getEmailErrorMessage() }}
        </mat-error>
        }
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Enviar solicitud</button>
    </form>
    @if (message) {
    <div class="info-message">
      <p>{{ message }}</p>
    </div>
    }
  </mat-card-content>
  <mat-card-actions>
    <p>Volver a <a href="/auth/login">Iniciar sesión</a></p>
  </mat-card-actions>
</mat-card>